<ion-searchbar
  animated
  (ionInput)="handleSearchBarInput($event)"
></ion-searchbar>
<div class="muscle-filter">
  <ion-chip
    outline
    *ngFor="let muscle of muscleFilterEnum"
    id="{{muscle}}"
    (click)="selectChipMuscle($event)"
    class="{{filterMuscles.includes(muscle.toLowerCase()) ? 'ion-chip-selected' : ''}}"
  >
    <ion-label
      ><ng-container *ngIf="muscle === muscleMonitorized; else muscleText"
        ><span class="is-monitorized"
          ><ion-icon class="is-monitorized-icon" name="eye"></ion-icon></span
      ></ng-container>
      <ng-template #muscleText>{{muscle | titlecase}}</ng-template>
    </ion-label>
  </ion-chip>
</div>
<ion-content class="list-wrapper" [scrollEvents]="true" #listWrapper>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="(exercises$ | async) as exercises">
    <ion-list
      class="list"
      [style.height]="exercises.length > 0 ? 'fit-content' : '100%'"
      #listExercises
    >
      <ng-container *ngIf="!(isLoading$ | async)">
        <ng-container *ngIf="exercises.length > 0; else noItems">
          <div
            *ngFor="let exercise of exercises"
            (click)="marksForExerciseModal(exercise)"
            id="{{exercise._id}}-{{exercise.muscle}}-{{exercise.isMonitorized}}"
          >
            <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option
                  color="danger"
                  expandable
                  (click)="deleteExercise($event, exercise)"
                >
                  Delete
                </ion-item-option>
              </ion-item-options>

              <ion-item class="ion-no-padding" button>
                <div class="item-wrapper">
                  <div class="item-info">
                    <ion-label text-wrap
                      >{{exercise.name }}<span
                        class="is-monitorized"
                        *ngIf="exercise.isMonitorized"
                        ><ion-icon
                          class="is-monitorized-icon"
                          name="eye"
                        ></ion-icon></span
                    ></ion-label>
                    <ion-badge color="primary"
                      >{{ exercise.muscle | titlecase }}</ion-badge
                    >
                  </div>
                  <p class="item-description">{{exercise.description}}</p>
                </div>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </ion-item>

              <ion-item-options side="end">
                <ion-item-option
                  color="tertiary"
                  expandable
                  (click)="createUpdateExerciseModal($event, exercise)"
                >
                  Edit
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </div>
        </ng-container>
        <ng-template #noItems>
          <h4 class="no-items">No items. You can start adding one.</h4>
        </ng-template>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>

<div class="buttons-container">
  <ion-button
    type="submit"
    expand="block"
    color="secondary"
    (click)="createUpdateExerciseModal()"
    >Add exercise</ion-button
  >
</div>
