@import "../../theme/variables.scss";

ion-button {
  width: fit-content;
  margin: 0 auto;
}

.muscle-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .ion-chip-selected {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.16);
  }
}

.list-wrapper {
  &::part(background) {
    background-color: gainsboro;
    margin-top: 1rem;
  }

  &::part(scroll) {
    margin: 2rem 1rem 1rem 1rem;
  }

  .list {
    overflow-y: auto;
    padding-top: 0;

    .item-wrapper {
      width: 100%;
      margin: 1rem;

      .item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ion-label {
          display: flex;
          max-width: 60%;
          font-size: 1rem;
          font-weight: 900;
        }

        ion-badge {
          height: fit-content;
        }
      }

      .is-monitorized {
        margin-left: 0.5rem;
      }

      .item-description {
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
  }
}

.is-monitorized {
  &-icon {
    color: var(--ion-color-tertiary);
    zoom: 1.5;
  }
}

.buttons-container {
  padding-bottom: 1rem;
}
