<ion-toolbar>
  <ion-title>{{ exercise.name }}</ion-title>
</ion-toolbar>
<div class="container">
  <ion-list class="list">
    <ng-container *ngIf="(marks$ | async)?.length > 0; else noItems">
      <div *ngFor="let mark of marks$ | async">
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option
              color="danger"
              expandable
              (click)="deleteMark($event, mark)"
            >
              Delete
            </ion-item-option>
          </ion-item-options>

          <ion-item class="ion-no-padding">
            <ion-label class="label-date">{{
              mark.date | date: "dd/MM/yyyy"
            }}</ion-label>
            <div class="record-wrap">
              <ion-badge color="primary">{{ mark.weight }}kg</ion-badge>
              <ion-badge color="secondary"
                >{{ mark.serie }}x{{ mark.reps }}</ion-badge
              >
              <ion-badge color="tertiary">{{ mark.rir }} RIR</ion-badge>
            </div>
          </ion-item>

          <!-- <ion-item-options side="end">
            <ion-item-option color="tertiary" expandable>
              Edit
            </ion-item-option>
          </ion-item-options> -->
        </ion-item-sliding>
      </div>
    </ng-container>
    <ng-template #noItems>
      <h4 class="no-items">No items. You can start adding one.</h4>
    </ng-template>
  </ion-list>
  <form class="login-form" (ngSubmit)="formSubmit()">
    <div class="login-form-inputs-container">
      <ion-item class="ion-no-padding">
        <ion-label>Weight</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="mark.weight"
          name="weight"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label>Serie</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="mark.serie"
          name="serie"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label>Reps</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="mark.reps"
          name="reps"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label>RIR</ion-label>
        <ion-input type="number" [(ngModel)]="mark.rir" name="rir"></ion-input>
      </ion-item>
    </div>
    <ion-button type="submit" expand="block" color="secondary">Add</ion-button>
  </form>
  <div class="buttons-container">
    <ion-button expand="block" (click)="dismiss()">Back</ion-button>
  </div>
</div>
