<ion-toolbar>
  <ion-title>{{ exercise.name }}</ion-title>
</ion-toolbar>
<div class="container">
  <ion-content class="list-wrapper" [scrollEvents]="true" #listWrapper>
    <ng-container *ngIf="marks$ | async as marks">
      <ion-list
        class="list"
        #listMarks
        [style.height]="marks.length > 0 ? 'fit-content' : '100%'"
      >
        <ng-container *ngIf="!(isLoading$ | async)">
          <ng-container *ngIf="marks.length > 0; else noItems">
            <div *ngFor="let mark of marks$ | async">
              <ion-item-sliding>
                <ion-item-options side="start">
                  <ion-item-option
                    color="danger"
                    expandable
                    (click)="deleteMark($event, mark)"
                  >
                    Delete
                  </ion-item-option>
                </ion-item-options>

                <ion-item
                  class="ion-no-padding"
                  (click)="mark.notes ? showNote($event, mark.notes) : false"
                >
                  <ion-label class="label-date"
                    ><span>{{ mark.date | date: "dd/MM/yyyy" }}</span
                    ><span *ngIf="mark.notes">
                      <ion-icon
                        name="bookmark"
                        color="warning"
                      ></ion-icon> </span
                  ></ion-label>
                  <div class="record-wrap">
                    <ion-badge color="primary">{{ mark.weight }}kg</ion-badge>
                    <ion-badge color="secondary"
                      >{{ mark.serie }}x{{ mark.reps }}</ion-badge
                    >
                    <ion-badge color="tertiary">{{ mark.rir }} RIR</ion-badge>
                  </div>
                </ion-item>
              </ion-item-sliding>
            </div>
          </ng-container>
          <ng-template #noItems>
            <h4 class="no-items">No items. You can start adding one.</h4>
          </ng-template>
        </ng-container>
      </ion-list>
    </ng-container>
  </ion-content>
  <app-generic-form [genericFormData]="genericForm"></app-generic-form>
  <div class="buttons-container">
    <ion-button expand="block" (click)="dismiss()">Back</ion-button>
  </div>
</div>
