.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;

  .list-wrapper {
    &::part(background) {
      background-color: gainsboro;
    }

    &::part(scroll) {
      margin: 1rem;
    }

    .list {
      overflow-y: auto;
      padding-top: 0;

      .label-date {
        margin-left: 1rem;
      }

      .record-wrap {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttons-container {
  margin-bottom: 2rem;
}
