<ng-container *ngIf="!showPdf;else pdfView">
  <ion-item>
    <ion-label>Mes y año</ion-label>
    <ion-datetime
      displayFormat="MMM YYYY"
      min="{{minDate | date:'YYYY-MM-dd' }}"
      max="{{maxDate | date:'YYYY-MM-dd'}}"
      value="{{currDate}}"
    ></ion-datetime>
  </ion-item>
  <ion-text class="ion-text-center" color="secondary">
    <h2>Listado de documentos</h2>
  </ion-text>
  <ion-content class="list-wrapper" [scrollEvents]="true" #listWrapper>
    <ng-container *ngIf="(planAttachments$ | async) as planAttachments">
      <ion-list
        class="list"
        [style.height]="planAttachments.length > 0 ? 'fit-content' : '100%'"
        #listExercises
      >
        <ng-container *ngIf="!(isLoading$ | async)">
          <ng-container *ngIf="planAttachments.length > 0; else noItems">
            <div *ngFor="let planAttachment of planAttachments">
              <ion-item-sliding>
                <ion-item-options side="start">
                  <ion-item-option color="danger" expandable>
                    Delete
                  </ion-item-option>
                </ion-item-options>

                <ion-item
                  class="ion-no-padding"
                  button
                  (click)="toggleShowPdf(planAttachment.path)"
                >
                  <div class="item-wrapper">
                    <div class="item-info">
                      <ion-label text-wrap
                        >{{planAttachment.name }}<span
                          class="is-monitorized"
                          *ngIf="planAttachment.month"
                          ><ion-icon
                            class="is-monitorized-icon"
                            name="eye"
                          ></ion-icon></span
                      ></ion-label>
                    </div>
                  </div>
                  <ion-ripple-effect type="bounded"></ion-ripple-effect>
                </ion-item>

                <ion-item-options side="end">
                  <ion-item-option color="tertiary" expandable>
                    Edit
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </ng-container>
          <ng-template #noItems>
            <h4 class="no-items">No documents. You can start adding one.</h4>
          </ng-template>
        </ng-container>
      </ion-list>
    </ng-container>
  </ion-content>
  <div class="buttons-container">
    <ion-button type="submit" expand="block" color="secondary"
      >Add document</ion-button
    >
  </div>
</ng-container>
<ng-template #pdfView>
  <div class="buttons-container">
    <ion-button expand="block" color="primary" (click)="toggleShowPdf()"
      >Back</ion-button
    >
  </div>
  <pdf-viewer
    [src]="pdfData"
    [fit-to-page]="true"
    [original-size]="true"
    [render-text]="true"
    [show-borders]="true"
    class="pdf-viewer"
  >
  </pdf-viewer>
</ng-template>
