<form class="form" (ngSubmit)="formSubmit()">
  <div class="form-inputs-container">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="exercise.name"
        name="name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="exercise.description"
        name="description"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Muscle</ion-label>
      <ion-select
        okText="Okay"
        cancelText="Dismiss"
        [(ngModel)]="exercise.muscle"
        name="muscle"
      >
        <ion-select-option
          *ngFor="let muscle of muscleEnum"
          value="{{ muscle }}"
          >{{ muscle | titlecase }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Is monitorized?</ion-label>
      <ion-toggle
        slot="end"
        [(ngModel)]="exercise.isMonitorized"
        name="isMonitorized"
        color="tertiary"
      ></ion-toggle>
    </ion-item>
  </div>
  <div class="buttons-container">
    <ion-button type="submit" expand="block" color="secondary">Save</ion-button>
    <ion-button expand="block" (click)="dismiss()">Back</ion-button>
  </div>
</form>
