<ion-tabs>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
      </ion-buttons>
      <ion-title>Welcome {{loggedUser.userName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-exercises">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-plan">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Planes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-config">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
