<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col> Nombre </ion-col>
      <ion-col> Descripción </ion-col>
      <ion-col> Músculo </ion-col>
    </ion-row>
    <ion-row *ngFor="let exercise of exercises$ | async">
      <ion-col>{{exercise.name}}</ion-col>
      <ion-col>{{exercise.description}}</ion-col>
      <ion-col>{{exercise.muscle}}</ion-col>
    </ion-row>
    <div>
      <ion-button
        type="submit"
        expand="block"
        color="secondary"
        (click)="presentModal()"
        >Añadir ejercicio</ion-button
      >
    </div>
  </ion-grid>
</ion-content>
